<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanking you</title>
</head>
<link rel="shortcut icon" href="/Images/Hlogowhite.png" type="image/x-icon">

<style>
    body{
        margin: 0;
        padding: 0;
    }
    section{
        font-size: 40px;
        width: 100fr;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: #018676;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

    }
</style>
<body>
    <section>
        <h1>Thank you for contacting us!</h1>
    </section>
</body>
</html>