<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiredo Reset Password</title>
    <link rel="stylesheet" href="/CSS/Email_Verify.css">
    <link rel="stylesheet" href="/CSS/loader.css"> 
    <link rel="shortcut icon" href="/Images/Hlogowhite.png" type="image/x-icon">

    <script src="/Javascript/loader.js"></script>

</head>
<body>
    <div id="loader">

    </div>

    <div class="back"></div>
    <section>
    <h1>Reset Password</h1>
    <div id="innerbox">
        <div class="form">
    <form action="/hiredo/resetpassword" method="POST">
      <h4>Create new password</h4>

        <input type="password" name="newpass"pattern="/^[a-zA-Z0-9!@#\$%\^\&*_=+-]{8,12}$/g" required placeholder="New Password">
        <button type="submit">Reset Password</button>
    </form>
</div>
<div id="image">
    <img src="/Images/reset.png" alt="Mail received">
</div>
    </div>
</section>
</body>
</html>