
<!--Section: Contact v.2-->
<section id="contactus" >

    <!--Section heading-->
    <h1 class="h1-responsive font-weight-bold text-center my-4">Contact us</h1>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="/Hiredo/contactus" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="lab">Your name</label>
                            <input type="text" id="name" name="name" class="form-control" minlength="8"  required>
                           
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="lab">Your email</label>
                            <input type="text" id="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required>
                            
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="lab">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control" minlength="10" required>
                         
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea type="text" required id="message" name="message" rows="2" class="lab form-control md-textarea" minlength="20"></textarea>
                            
                        </div>

                    </div>
                </div>

                <br>    
                <!--Grid row-->
                <div class="text-center text-md-left">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>

           
            <!-- <div class="status"></div> -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>GLA University,Mathura Uttar Pradesh</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+91 90270 68068</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>Hiredo.project.gla@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
<div class="end">
    <h5>
        @glau.project.ritesh.tanya.surbhi
    </h5>
</div>